#newsicon{
	position:absolute;
	margin-top:-200px;
	margin-left:1050px;
	
}
#newsicon:hover{
	opacity:0.5;
}

body{
	background:#FFF;
	overflow:hidden;
}
#ID{
	 color:#000;
	 font-family:Verdana, Geneva, sans-serif;	
}

#title{
	color:#F00;
	font-family:Verdana, Geneva, sans-serif;
	text-decoration:none;
}

#link{
	 color:#000;
	 text-decoration:none;
}

#rssnew{
	position:absolute;
	width:500px;
	margin-top:-560px;
	margin-left:350px;
	background:#fff;
	/*border-radius:10px;*/
	padding:5px;
	text-decoration:none;
	/*height:500px;*/
	overflow: hidden;
	overflow-style:marquee-line;
	overflow-y:scroll;
	height:400px;
	text-align:justify;	
	display:none;
	border:1px;
	border-style:solid;
	border-color:#999;
	
	
}
#title{
		/*text-align:center;
*/		text-decoration:none;
		color:#00F;
			
}

a{
	text-decoration:none;
	color:#000;
	text-align:justify;
	
}
font{
	color:#000;
}

span{
		color:#000;
		font-size:9px;
}
a.h3{
		font-size:12px;
		text-align:justify;
		
		}

#news{
		text-decoration:none;
		font-family:Verdana, Geneva, sans-serif;
		font-size:12px;
		padding:5px;
		border-style:solid;
		border-color:#FFF;
		
	}
	
#title_style{
			font-size:14px;
			text-decoration:none;
			
}

#session{
			background : #FFF;
			color:#222;
			display:none;
			width:500px;
			height:400px;
			margin-left:auto;
			margin-right:auto;
			position:absolute;
			border:1px;
			border-style:solid;
			border-color:#999;
			overflow-style:marquee-block;
			overflow-y:scroll;
}

#session_button{
				margin-top:-587px;
				background:#03F;
				color:#FFF;
				width:200px;
				text-align:center;
				height:26px;
				padding-top:6px;
				margin-left:220px;
				
}
#cover{
	 	top :0;
		left:0;
		height:100%;
		display:none;
	 	background:#fff;
	 	opacity:0.3;
	 	position:absolute;
		transition-delay:1;
}

#close_session{
	font-family:verdana;
	font-size:9px;
	background:#000;
	color:#CCC;
	width:130px;
	text-align:center;
	

	}
	
#userid{
	width:100px;
	text-align:left;
	color:#666;
}

#nameid{
		width:150px;
		text-align:left;
		color:#000;
}

#date{
		width:70px;
		text-align:right;
		}
		
#again {
		width:150px;
		color:#FFF;
		background:#06F;
		height:20px;
		font-size:20px;
		padding:3px;
}





.close_session
{
			
			background:#666;
			width:100px;
			margin:auto;
			padding:5px;
			font-size:10px;
			height:15px;
			text-align:center;
			margin-top:430px;
			display:none;
			
			
}

.session{
			margin-left:30px;
}

#welcome{
		color:#FFF;
		background:#00C;
		margin-top:80px;
		width:200px;
		text-align:center;
		font-size:10px;
		height:30px;
		padding-top:4px;
	}
	
#logout{
				margin-top:-31px;
				background:#03F;
				color:#FFF;
				width:200px;
				text-align:center;
				height:26px;
				padding-top:6px;
				margin-left:440px;
				
}
